<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>title</title>
    <link rel="stylesheet" href="css/docs.css"/>
    <style>
        
    </style>
  </head>
  <body>
      <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hero title
            </h1>
            <h2 class="subtitle">
              Hero subtitle
            </h2>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <section id="pagebody" class="content"></section>
        </div>
      </section>
  </body>
</html>